<!DOCTYPE html>
<html>
    <head>
        <title>Catch</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="js/libs/angular.js/angular.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/controllers.js" type="text/javascript"></script>
        <style>
            body {
                background-color: lightblue;
            }
            
            button  {
                   background-color: lightgray;
                   width: 100px;
                   height: 30px;
            }
            input {
                position:fixed;
                left:130px;

            }

        </style>
    </head>
    <body ng-app="app">
        <div ng-controller="CatchController">
            Kala: <input class="syote" type="text" ng-model="newCatch.specie"><br/>
            Paino: <input type="number" ng-model="newCatch.weight"><br/>
            Pituus: <input type="number" ng-model="newCatch.length"><br/>
            Aika: <input type="datetime-local" ng-model="newCatch.catchTime"><br/>
            Lon: <input type="number" ng-model="newCatch.longitude"><br/>
            Lat: <input type="number" ng-model="newCatch.latitude"><br/>
            Paikka: <input type="text" ng-model="newCatch.location"><br/>
            Viehe: <input type="text" ng-model="newCatch.lure"><br/>
            Tapa: <input type="text" ng-model="newCatch.technique"><br/>
            Syvyys: <input type="number" ng-model="newCatch.depth"><br/>
            Keli: <input type="text" ng-model="newCatch.weather"><br/>
            Ilman lämpö: <input type="number" ng-model="newCatch.airTemperature"><br/>
            Veden lämpö: <input type="number" ng-model="newCatch.waterTemperature"><br/>
            <br/>
            <button ng-click="add()">Lisää</button>
        </div>
    </body>
</html>