<!doctype html>
<html ng-app>
    <head>
        <title>Hello AngularJS</title>
        <style>
        
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script >

      function Hello($scope, $http) {
    $http.get('rest/catch/').
        success(function(data) {
            $scope.greeting = data;
        });
   
}

        </script>
    </head>

    <body style="background-color: lightblue">
        <div ng-controller="Hello">
         
            <table border="1">
                <th>Kalat </th>
                <tr>
                    <td>Tarkat tiedot</td>
                    <td>Paino</td>
                       <td>Käyttäjä</td>
                    
                </tr>
                <tr ng-repeat="x	in greeting">
                    <td><a href="" onclick="alert('tappara')">Kala</a></td>
                    <td><div> {{ x.weight  }} kg</div></td>
                     <td><div> {{ x.weight  }} kg</div></td>
                </tr>
                
      
            </table>
     
               
            <div style="background-color: lightgray"> 
                <h1>
                    Kalan perustiedot</h1>
                    <p>Tyyppi</p>
                    <p>Paino</p>
                    <p>S&auml;&auml;</p>
                    
                    <div
                </div>
        </div>
    </body>
</html>
