<!DOCTYPE html>
<html>
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="js/libs/angular.js/angular.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/controllers.js" type="text/javascript"></script>
        <style>
            body {
                background-color: lightblue;
            }

            button  {
                background-color: lightgray;
                width: 120px;
                height: 30px;
            }
            .eka {
                position:fixed;
                left:130px;

            }

        </style>
    </head>
    <body ng-app="app">
        <div ng-controller="UserController">



            <div style="  position:fixed;left:40px;background-color:white;width:300px;height: 75px">
                <div style="position:fixed;left:50px"> Nimi:</div>   <input style="position:fixed;left:160px"  type="text" s Nimi:  ng-model="registerFields.name">
                <div style="position:fixed;left:50px;top:30px;"> Sähköposti: <input  style="position:fixed;left:160px;top:30px;" type="email" ng-model="registerFields.email"></div>
                <div style="position:fixed;left:50px;top:60px;"> Salasana:</div> <input  style="position:fixed;left:160px;top:60px;"type="password" ng-model="registerFields.password">

                <button  style="position:fixed;left:50px;top:90px;" ng-click="register()">Rekisteröidy</button>

            </div>


            <div style="position:fixed;left:50px;top:140px;">Salasana:</div>
            <input style="position:fixed;left:160px;top:140px;" type="password" ng-model="registerFields.password"
                   />

            <div style="position:fixed;left:50px;top:170px;">  Sähköposti: </div>

            <input style="position:fixed;left:160px;top:170px;" class="eka" type="email" ng-model="email">

            <div style="position:fixed;left:50px;top:200px;">  email </div>

            <input  style="position:fixed;left:160px;top:200px;" class="eka" type="email" ng-model="email">
            <div style="position:fixed;left:50px;top:230px;"> Salasana:</div>

            <input  style="position:fixed;left:160px;top:230px;" type="password" ng-model="password">

            <button  style="position:fixed;left:160px;top:260px;" ng-click="login()">Kirjaudu</button>

            <br/>
            <button style="position:fixed;left:50px;top:260px;" ng-click="test()">Testaa</button>

        </div>

        <!--    
    
      
        
      <br/>
  
       
   
     
      <hr/>

   
 
     
        -->    
    </div>


</body>
</html>